#board {
	width: 520px;
	height: 510px;
	margin: auto;
}

.snake-row {
	height: 10px;
	width: 510px;
	margin: 0px;
}

.snake-cell {
	height: 10px;
	width: 10px;
	padding: 0px;
	box-sizing: border-box;
	border: 1px solid white;
}

.snake-body {
	background-color: green;
}

.food {
	background-color: red;
	box-sizing: border-box;
	border: 1px solid white;
	border-radius: 5px; 
}

#header { 
	height: 75px;
	margin: 0px;
	background-color: #50456d;
	color: white;
	text-align: center;
}

#game {
	width: 520px;
	height: 575px;
	margin: 50px auto;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col {
	text-align: center;	
}

.row {
	margin: 0px;
}

.snake-head {
	border-radius: 3.5px;	
}

.flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.score-row {
	justify-content: center;
}

